.pressable {
  @apply shadow-button-sm translate-x-0 translate-y-0 transition duration-300 hover:shadow-button-md hover:translate-x-0 hover:translate-y-0 active:translate-x-1 active:translate-y-1 active:shadow-none;
}

@keyframes pressable-ping {
  0% {
    opacity: 0.3;
  }
  75%,
  100% {
    transform: scale(1.9);
    opacity: 0;
  }
}
